<!doctype html>
<head>
  <script src="https://unpkg.com/vue@next"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
</head>
<body>
  <div id="rolls-calculator" class="container center-block">
    <div>
      Выберите, какие размеры для расчета Вам желаете указать – размеры комнаты, либо размеры стены (стен):
    </div>
    <div id="room-or-walls">
      <input type="radio" id="one" value="RoomSizes" v-model="picked" checked/>
      <label for="one">Размеры комнаты</label>
      <br />
      <input type="radio" id="two" value="WallSizes" v-model="picked" />
      <label for="two">Размеры стен</label>
      <br />
    </div>
    <div v-if="picked === 'RoomSizes'">
      <h5>Размеры комнаты:</h5>
      <div class="row">
        <div class="col">
          <input type="number" v-model.number="room_l" id="room_length" min="0" step="0.1" class="form-control"/>
          <small class="form-text text-muted">Длина (м)</small>
        </div>
        <div class="col">
          <input type="number" v-model.number="room_w" id="room_widht" min="0" step="0.1" class="form-control"/>
          <small class="form-text text-muted">Ширина (м)</small>
        </div>
        <div class="col">
          <input type="number" v-model.number="room_h" id="room_high" min="0" step="0.1" class="form-control"/>
          <small class="form-text text-muted">Высота (м)</small>
        </div>
      </div>
    </div>
    <br />
    <div v-if="picked === 'WallSizes'">
      <h5>Размеры стен:</h5>
      <div class="row">
        <div class="col">
          <input type="number" v-model.number="wall_h" min="0" step="0.1" class="form-control"/>
          <small class="form-text text-muted">Ширина стены (м)</small>
        </div>
        <div class="col">
          <input type="number" v-model.number="wall1_w" min="0" step="0.1" class="form-control"/>
          <small class="form-text text-muted">Высота стены (м)</small>
        </div>
      </div>
      <div v-if="numOfWalls >= 2" id="wa2">
        <div class="row">
          <div class="col"><input type="number" v-model.number="wall2_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина стены (м)</small>
        </div>
          <div class="col"><button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeWall">
            <span aria-hidden="true">×</span>
          </button></div>
        </div>
      </div>

      <div v-if="numOfWalls >= 3" id="wa3">
        <div class="row">
          <div class="col"><input type="number" v-model.number="wall3_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина стены (м)</small>
        </div>
          <div class="col"><button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeWall">
            <span aria-hidden="true">×</span>
          </button></div>
        </div>
      </div>

      <div v-if="numOfWalls >= 4" id="wa4">
        <div class="row">
          <div class="col"><input type="number" v-model.number="wall4_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина стены (м)</small>
        </div>
          <div class="col"><button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeWall">
            <span aria-hidden="true">×</span>
          </button></div>
        </div>
      </div>
      <button @click="addWall" class="btn btn-outline-primary mb-2 btn-block">Добавить стену</button>
    </div>
    <div id="windows">
      <button @click="addWindow" class="btn btn-outline-primary mb-2 btn-block">Добавить окно</button>
      <div v-if="numOfWindows >= 1" id="w1">
        <div class="row">
          <div class="col">
            <input type="number" v-model.number="w1_h" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина (м)</small>
          </div>
          <div class="col">
            <input type="number" v-model.number="w1_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Высота (м)</small>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeWindow">
              <span aria-hidden="true">×</span>
            </button></div>
        </div>
      </div>
      <div v-if="numOfWindows >= 2" id="w2">
        <div class="row">
          <div class="col">
            <input type="number" v-model.number="w2_h" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина (м)</small>
          </div>
          <div class="col">
            <input type="number" v-model.number="w2_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Высота (м)</small>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeWindow">
              <span aria-hidden="true">×</span>
            </button></div>
        </div>
      </div>
      <div v-if="numOfWindows >= 3" id="w3">
        <div class="row">
          <div class="col">
            <input type="number" v-model.number="w3_h" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина (м)</small>
          </div>
          <div class="col">
            <input type="number" v-model.number="w3_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Высота (м)</small>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeWindow">
              <span aria-hidden="true">×</span>
            </button></div>
        </div>
      </div>
      <div v-if="numOfWindows >= 4" id="w4">
        <div class="row">
          <div class="col">
            <input type="number" v-model.number="w4_h" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина (м)</small>
          </div>
          <div class="col">
            <input type="number" v-model.number="w4_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Высота (м)</small>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeWindow">
              <span aria-hidden="true">×</span>
            </button></div>
        </div>
      </div>
      <div v-if="numOfWindows >= 5" id="w5">
        <div class="row">
          <div class="col">
            <input type="number" v-model.number="w5_h" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина (м)</small>
          </div>
          <div class="col">
            <input type="number" v-model.number="w5_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Высота (м)</small>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeWindow">
              <span aria-hidden="true">×</span>
            </button></div>
        </div>
      </div>
      <div v-if="numOfWindows >= 6" id="w6">
        <div class="row">
          <div class="col">
            <input type="number" v-model.number="w6_h" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина (м)</small></div>
          <div class="col">
            <input type="number" v-model.number="w6_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Высота (м)</small></div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeWindow">
              <span aria-hidden="true">×</span>
            </button></div>
        </div>
      </div>
    </div>
    <div id="doors">
      <button @click="addDoor" class="btn btn-outline-primary mb-2 btn-block">Добавить дверь</button>
      <div v-if="numOfDoors >= 1">
        <div class="row">
          <div class="col">
            <input type="number" v-model.number="d1_h" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина (м)</small></div>
          <div class="col">
            <input type="number" v-model.number="d1_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Высота (м)</small></div>
          <div class="col"><button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeDoor">
            <span aria-hidden="true">×</span>
          </button></div>
        </div>
      </div>
      <div v-if="numOfDoors >= 2">
        <div class="row">
          <div class="col">
            <input type="number" v-model.number="d2_h" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Ширина (м)</small></div>
          <div class="col">
            <input type="number" v-model.number="d2_w" min="0" step="0.1" class="form-control"/>
            <small class="form-text text-muted">Высота (м)</small></div>
          <div class="col"><button type="button" class="btn btn-outline-primary mb-2" aria-label="Close" @click="closeDoor">
            <span aria-hidden="true">×</span>
          </button></div>
        </div>
      </div>
    </div>
    <br />
    <div>
      <h5>Ширина рулона:</h5>
      <div class="row">
        <div class="col">
          <input type="radio" id="w_53" value=0.53 v-model="roll_widht" checked />
          <label for="w_53">53 (см)</label></div>
        <div class="col">
          <input type="radio" id="w_106" value=1.06 v-model="roll_widht" />
          <label for="w_106">106 (см)</label></div>
      </div>
      <h5>Ширина рулона:</h5>
      <div class="row">
        <div class="col">
          <input type="radio" id="wl_10" value=10 v-model="roll_length" checked />
          <label for="wl_10">10 (м)</label></div>
        <div class="col">
          <input type="radio" id="wl_25" value=25 v-model="roll_length" />
          <label for="wl_25">25 (м)</label></div>
      </div>
      <h5>Высота рисунка (раппорт):</h5>
      <input type="number" id="wl_10" v-model.number="rapport" min="0" step="0.1" class="form-control"/>
      <br />
    </div>
    <button @click="calculate" class="btn btn-success mb-2 btn-block">Рассчитать</button>
    <br />
    <h5>Рабочая площадь поклейки:<span class="badge badge-light"> {{ param_a }} м<sup>2</sup></span></h5>
    <br />
    <h5>Требуемое количество рулонов: <span class="badge badge-dark">{{ param_X }} шт.</span></h5>
    <br />
<script>
  Vue.createApp({
    data() {
      return {
        roll_widht: 0.53,
        roll_length: 10,
        rapport: 0,
        picked: 'RoomSizes',
        perimeter: 0,
        numOfWindows: 0,
        numOfDoors: 0,
        room_l: 4,
        room_w: 4,
        room_h: 2.7,
        numOfWalls: 1,
        wall_h: 0,
        wall1_w: 0,
        wall2_w: 0,
        wall3_w: 0,
        wall4_w: 0,
        w1_h: 0,
        w1_w: 0,
        w2_h: 0,
        w2_w: 0,
        w3_h: 0,
        w3_w: 0,
        w4_h: 0,
        w4_w: 0,
        w5_h: 0,
        w5_w: 0,
        w6_h: 0,
        w6_w: 0,
        d1_h: 0,
        d1_w: 0,
        d2_h: 0,
        d2_w: 0,
        param_sw: 0,  // Площадь окон
        param_sd: 0,  // Площадь дверных проемов
        param_s: 0,   // Площадь одного рулона
        param_a: 0,   // Площадь рабочей поверхности
        param_h: 0,   // Высота рабочей поверхности
        param_X: 0    // Количество рулонов
      }
    },
    methods: {
      calculate() {
        if (this.picked === 'RoomSizes')
          this.perimeter = 2 * this.room_l + 2 * this.room_w
        else
          this.perimeter = this.wall1_w + this.wall2_w + this.wall3_w + this.wall4_w
        if (this.rapport > 0)
          this.param_h = this.room_h + this.rapport
        else (this.rapport > 0)
          this.param_h = this.room_h + 0.05


        // Расчет площадей окон и дверных проемов
        this.param_sw = this.w1_h * this.w1_w + this.w2_h * this.w2_w + this.w2_h * this.w3_w + this.w4_h * this.w3_w + this.w4_h * this.w4_w + this.w5_h * this.w5_w + this.w6_h * this.w6_w
        this.param_sd = this.d1_h * this.d1_w + this.d2_h * this.d2_w

        // Расчет рабочих площадей
        this.param_a = this.perimeter * this.param_h - this.param_sw - this.param_sd
        this.param_s = this.roll_length * this.roll_widht

        // Расчет кол-ва рулонов
        this.param_X = Math.ceil(this.param_a / this.param_s) + 1

      },
      addWall(){
        if (this.numOfWalls<=4)
          this.numOfWalls++
      },
      addWindow() {
        if (this.numOfWindows<=6)
          this.numOfWindows++
      },
      addDoor() {
        if (this.numOfDoors<=2)
          this.numOfDoors++
      },
      closeWindow() {
        this.numOfWindows = this.numOfWindows - 1
      },
      closeDoor() {
        this.numOfDoors = this.numOfDoors - 1
      },
      closeWall() {
        this.numOfWalls = this.numOfWalls - 1
      }
     }
  }).mount('#rolls-calculator')
</script>
</body>
